@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.navBar{
  border-radius: 0;
  margin:0;
  background: #f7f7f7;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}

.link{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.txtLink{
  text-decoration: none;
  color:#000;
}
.ulContent{
  float:right
}

.faSize{
  font-size: 20px;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 350px;
  margin-top: 40px;
  margin-left:15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.description{
  position: relative;
  margin: 20px;
}
.directionContainer{
  margin-top: 15px;
  display: -webkit-inline-box;
}
.directionArrow{
  font-size: 23px;
  margin-left: 15px;
  margin-right: 15px;
}
.titles{
  margin-top: 30px
}
.tit{
  margin-left: 20px;

}
